html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Malaparte Media

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon", href="apple-touch-icon.png")

    link(rel="stylesheet", href="css/style.css")

  body
    header
      h1 Malaparte Media
      
    block content

    footer
      h1 Social:
      ul
        li
          a(href="https://facebook.com/malapartemedia") Facebook
        li
          a(href="https://soundcloud.com/malapartemedia") Soundcloud
        li
          a(href="https://twitter.com/malapartemedia") Twitter
