// Vars

$color-primary: hsl(240, 2%, 23%);
$color-secondary: hsl(240, 4%, 95%);

$bp-twocolumns: "screen and (min-width: 15em)";

// Base

@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/leaguespartan-bold.eot');
    src: url('/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguespartan-bold.woff2') format('woff2'),
         url('/fonts/leaguespartan-bold.woff') format('woff'),
         url('/fonts/leaguespartan-bold.ttf') format('truetype'),
         url('/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  background-color: $color-secondary;
  color: $color-primary;
  font-family: "futura-pt-condensed";
  font-size: 1.4em;
  padding: .5em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'League Spartan';
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// Blocks/Theme

.pagetitle {
  line-height: 1;

  span:first-child {
    text-transform: uppercase;
  }

  span:nth-child(2) {
    text-transform: lowercase;
  }

  > span {
    display: block;
  }
}

.project-wrapper {
  @media #{$bp-twocolumns} {
    display: flex;
  }
}

.project-item {
  @media #{$bp-twocolumns} {
  }
}

.social-wrapper {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 2em;
  height: 2em;
  margin: .5em;

  path {
    fill: red;
  }
}

// Utils

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
