extends ./layouts/default.jade

block content
  main
    p A DIY publisher for the digital era.

  aside
    h1 Projects:

    ul
      li
        a(href="http://dst.audio") Dust Audio Zine
      li
        a(href="http://remaindersongs.bandcamp.com") remainder
