extends ./layouts/default.jade

block content
  main
    p A DIY publisher for the digital era.

  aside
    h1 Projects:

    ul
      li
        a(href="http://dst.audio")
          img(src="/images/dustaz.png")
          span Dust Audio Zine
      li
        a(href="http://remaindersongs.bandcamp.com")
          img(src="/images/remainder.jpg")
          span remainder
